{% extends 'base.html' %}

{% block content %}

<!-- Sector of interests -->

<div class = "col-md-10 col-sm-12 col-xs-12 main"  class = "container-fluid">
        <h3 class="page-header category_color">Популярное</h3>        
          <div class = "col-md-3 col-sm-4 col-xs-12">
            <h3> </h3>
            <img src="http://apod.nasa.gov/apod/image/1603/GravityWaves_Claro_Annotated2_960.jpg" alt="..." class="img-rounded" width = "200" height = "200">
            <h4 class = "content-info">Label</h4>
            <span class="text-muted content-info">21-03-2016 <span class = "views-info">Просм: 543</span></span>
          </div>
          <div class = "col-md-3 col-sm-4 col-xs-12">
            <h3> </h3>
            <img src="http://apod.nasa.gov/apod/image/1603/GravityWaves_Claro_Annotated2_960.jpg" alt="..." class="img-rounded" width = "200" height = "200" class = "img-responsive">
            <h4 class = "content-info">Label</h4>
            <span class="text-muted">21-03-2016 <span class = "views-info">Просм: 543</span></span>
          </div>
          <div class = "col-md-3 col-sm-4 col-xs-12">
            <h3> </h3>
            <img src="http://apod.nasa.gov/apod/image/1603/GravityWaves_Claro_Annotated2_960.jpg" alt="..." class="img-rounded" width = "200" height = "200" class = "img-responsive">
            <h4 class = "content-info">Label</h4>
            <span class="text-muted">21-03-2016 <span class = "views-info">Просм: 543</span></span>
          </div>
          <div class = "col-md-3 col-sm-4 col-xs-12">
            <h3> </h3>
            <img src="http://apod.nasa.gov/apod/image/1603/GravityWaves_Claro_Annotated2_960.jpg" alt="..." class="img-rounded" width = "200" height = "200" class = "img-responsive">
            <h4 class = "content-info">Label</h4>
            <span class="text-muted">21-03-2016 <span class = "views-info">Просм: 543</span></span>
          </div>
        
          <div class = "col-md-3 col-sm-4 col-xs-12">
            <h3> </h3>
            <img src="http://apod.nasa.gov/apod/image/1603/GravityWaves_Claro_Annotated2_960.jpg" alt="..." class="img-rounded" width = "200" height = "200" class = "img-responsive">
            <h4 class = "content-info">Label</h4>
            <span class="text-muted">21-03-2016 <span class = "views-info">Просм: 543</span></span>
          </div>
          <div class = "col-md-3 col-sm-4 col-xs-12">
            <h3> </h3>
            <img src="http://apod.nasa.gov/apod/image/1603/GravityWaves_Claro_Annotated2_960.jpg" alt="..." class="img-rounded" width = "200" height = "200" class = "img-responsive">
            <h4 class = "content-info">Label</h4>
            <span class="text-muted">21-03-2016 <span class = "views-info">Просм: 543</span></span>
          </div>
          <div class = "col-md-3 col-sm-4 col-xs-12">
            <h3> </h3>
            <img src="http://apod.nasa.gov/apod/image/1603/GravityWaves_Claro_Annotated2_960.jpg" alt="..." class="img-rounded" width = "200" height = "200" class = "img-responsive">
            <h4 class = "content-info">Label</h4>
            <span class="text-muted">21-03-2016 <span class = "views-info">Просм: 543</span></span>
          </div>
          <div class = "col-md-3 col-sm-4 col-xs-12">
            <h3> </h3>
            <img src="http://apod.nasa.gov/apod/image/1603/GravityWaves_Claro_Annotated2_960.jpg" alt="..." class="img-rounded" width = "200" height = "200" class = "img-responsive">
            <h4 class = "content-info">Label</h4>
            <span class="text-muted">21-03-2016 <span class = "views-info">Просм: 543</span></span>
          </div>      

         <a href = '/posts/popular' class="btn btn-primary pull-right" role="button" style = "margin-top: 20px; margin-right:65px;">Смотреть все >></a>          
          
        </div>

      

      <div class = "col-md-10 col-sm-12 col-xs-12 main"  class = "container-fluid">
        <h3 class="page-header category_color">Новое</h3>        
          <div class = "col-md-3 col-sm-4 col-xs-12">
            <h3> </h3>
            <img src="http://apod.nasa.gov/apod/image/1603/GravityWaves_Claro_Annotated2_960.jpg" alt="..." class="img-rounded" width = "200" height = "200">
            <h4 class = "content-info">Label</h4>
            <span class="text-muted">21-03-2016 <span class = "views-info">Просм: 543</span></span>
          </div>
          <div class = "col-md-3 col-sm-4 col-xs-12">
            <h3> </h3>
            <img src="http://apod.nasa.gov/apod/image/1603/GravityWaves_Claro_Annotated2_960.jpg" alt="..." class="img-rounded" width = "200" height = "200" class = "img-responsive">
            <h4 class = "content-info">Label</h4>
            <span class="text-muted">21-03-2016 <span class = "views-info">Просм: 543</span></span>
          </div>
          <div class = "col-md-3 col-sm-4 col-xs-12">
            <h3> </h3>
            <img src="http://apod.nasa.gov/apod/image/1603/GravityWaves_Claro_Annotated2_960.jpg" alt="..." class="img-rounded" width = "200" height = "200" class = "img-responsive">
            <h4 class = "content-info">Label</h4>
            <span class="text-muted">21-03-2016 <span class = "views-info">Просм: 543</span></span>
          </div>
          <div class = "col-md-3 col-sm-4 col-xs-12">
            <h3> </h3>
            <img src="http://apod.nasa.gov/apod/image/1603/GravityWaves_Claro_Annotated2_960.jpg" alt="..." class="img-rounded" width = "200" height = "200" class = "img-responsive">
            <h4 class = "content-info">Label</h4>
            <span class="text-muted">21-03-2016 <span class = "views-info">Просм: 543</span></span>
          </div>
        
          <div class = "col-md-3 col-sm-4 col-xs-12">
            <h3> </h3>
            <img src="http://apod.nasa.gov/apod/image/1603/GravityWaves_Claro_Annotated2_960.jpg" alt="..." class="img-rounded" width = "200" height = "200" class = "img-responsive">
            <h4 class = "content-info">Label</h4>
            <span class="text-muted">21-03-2016 <span class = "views-info">Просм: 543</span></span>
          </div>
          <div class = "col-md-3 col-sm-4 col-xs-12">
            <h3> </h3>
            <img src="http://apod.nasa.gov/apod/image/1603/GravityWaves_Claro_Annotated2_960.jpg" alt="..." class="img-rounded" width = "200" height = "200" class = "img-responsive">
            <h4 class = "content-info">Label</h4>
            <span class="text-muted">21-03-2016 <span class = "views-info">Просм: 543</span></span>
          </div>
          <div class = "col-md-3 col-sm-4 col-xs-12">
            <h3> </h3>
            <img src="http://apod.nasa.gov/apod/image/1603/GravityWaves_Claro_Annotated2_960.jpg" alt="..." class="img-rounded" width = "200" height = "200" class = "img-responsive">
            <h4 class = "content-info">Label</h4>
            <span class="text-muted">21-03-2016 <span class = "views-info">Просм: 543</span></span>
          </div>
          <div class = "col-md-3 col-sm-4 col-xs-12">
            <h3> </h3>
            <img src="http://apod.nasa.gov/apod/image/1603/GravityWaves_Claro_Annotated2_960.jpg" alt="..." class="img-rounded" width = "200" height = "200" class = "img-responsive">
            <h4 class = "content-info">Label</h4>
            <span class="text-muted">21-03-2016 <span class = "views-info">Просм: 543</span></span>
          </div>       
          <a href = '' class="btn btn-primary pull-right" role="button" style = "margin-top: 20px; margin-right:65px;">Смотреть все >></a>      
      </div>
      <div class = "col-md-10 col-sm-12 col-xs-12 main"  class = "container-fluid">
        <h3 class="page-header category_color">Модели</h3>        
          <div class = "col-md-3 col-sm-4 col-xs-12">
            <h3> </h3>
            <img src="http://apod.nasa.gov/apod/image/1603/GravityWaves_Claro_Annotated2_960.jpg" alt="..." class="img-rounded" width = "200" height = "200">
            <h4 class = "content-info">Label</h4>
            <span class="text-muted">21-03-2016 <span class = "views-info">Просм: 543</span></span>
          </div>
          <div class = "col-md-3 col-sm-4 col-xs-12">
            <h3> </h3>
            <img src="http://apod.nasa.gov/apod/image/1603/GravityWaves_Claro_Annotated2_960.jpg" alt="..." class="img-rounded" width = "200" height = "200" class = "img-responsive">
            <h4 class = "content-info">Label</h4>
            <span class="text-muted">21-03-2016 <span class = "views-info">Просм: 543</span></span>
          </div>
          <div class = "col-md-3 col-sm-4 col-xs-12">
            <h3> </h3>
            <img src="http://apod.nasa.gov/apod/image/1603/GravityWaves_Claro_Annotated2_960.jpg" alt="..." class="img-rounded" width = "200" height = "200" class = "img-responsive">
            <h4 class = "content-info">Label</h4>
            <span class="text-muted">21-03-2016 <span class = "views-info">Просм: 543</span></span>
          </div>
          <div class = "col-md-3 col-sm-4 col-xs-12">
            <h3> </h3>
            <img src="http://apod.nasa.gov/apod/image/1603/GravityWaves_Claro_Annotated2_960.jpg" alt="..." class="img-rounded" width = "200" height = "200" class = "img-responsive">
            <h4 class = "content-info">Label</h4>
            <span class="text-muted">21-03-2016 <span class = "views-info">Просм: 543</span></span>
          </div>
        
          <div class = "col-md-3 col-sm-4 col-xs-12">
            <h3> </h3>
            <img src="http://apod.nasa.gov/apod/image/1603/GravityWaves_Claro_Annotated2_960.jpg" alt="..." class="img-rounded" width = "200" height = "200" class = "img-responsive">
            <h4 class = "content-info">Label</h4>
            <span class="text-muted">21-03-2016 <span class = "views-info">Просм: 543</span></span>
          </div>
          <div class = "col-md-3 col-sm-4 col-xs-12">
            <h3> </h3>
            <img src="http://apod.nasa.gov/apod/image/1603/GravityWaves_Claro_Annotated2_960.jpg" alt="..." class="img-rounded" width = "200" height = "200" class = "img-responsive">
            <h4 class = "content-info">Label</h4>
            <span class="text-muted">21-03-2016 <span class = "views-info">Просм: 543</span></span>
          </div>
          <div class = "col-md-3 col-sm-4 col-xs-12">
            <h3> </h3>
            <img src="http://apod.nasa.gov/apod/image/1603/GravityWaves_Claro_Annotated2_960.jpg" alt="..." class="img-rounded" width = "200" height = "200" class = "img-responsive">
            <h4 class = "content-info">Label</h4>
            <span class="text-muted">21-03-2016 <span class = "views-info">Просм: 543</span></span>
          </div>
          <div class = "col-md-3 col-sm-4 col-xs-12">
            <h3> </h3>
            <img src="http://apod.nasa.gov/apod/image/1603/GravityWaves_Claro_Annotated2_960.jpg" alt="..." class="img-rounded" width = "200" height = "200" class = "img-responsive">
            <h4 class = "content-info">Label</h4>
            <span class="text-muted">21-03-2016 <span class = "views-info">Просм: 543</span></span>
          </div>       
          <a href = '' class="btn btn-primary pull-right" role="button" style = "margin-top: 20px; margin-right:65px;">Смотреть все >></a>      
      </div>

{% endblock %}












































<!-- <html>

<body>
	<h1> {{title}} is working </h1>

	{% for obj in object_list %}
	<a href = '{{ obj.get_absolute_url }}'>	{{obj.title}}	</a>	<br/>
		{{obj.content}}<br/>
		{{obj.updated}}<br/>
		{{obj.id}}<br/>

	{% endfor %}

</body>

</html> -->

