{% extends "base.html" %}

{% load staticfiles %}

{% block content %}

  <div class = "col-md-10 col-sm-12 col-xs-12 main"  class = "container-fluid">    
    <video id="video1" class="video-js vjs-default-skin vjs-big-play-centered" height="300" width="600" controls data-setup="{}">
      <source src="{% static 'video/house_md_s1e1.mp4' %}" type='video/mp4'>
      <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that
        <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
    </video>
  </div>

  <script src="{% static 'js/hotkeys.js' %}"></script>
  <script>
    // Initialize the plugin
    videojs('video1').ready(function() {
      this.hotkeys({
        volumeStep: 0.1,
        seekStep: 50,
        enableMute: true,
        enableFullscreen: true,
        enableVolumeScroll: true,
        // There are many other options of hotkeys.
        // Look at the github directory to see them.
      });
    });
  </script>

{% endblock %}