{% extends "base.html" %}


{% block content%}

		

<div class = "col-md-10 col-sm-12 col-xs-12 main"  class = "container-fluid">
	<h3 class="page-header category_color">Популярное</h3> 

		{% for obj in object_list %}
		
			<div class = "col-md-3 col-sm-4 col-xs-12">
		    	{% if obj.media_upload %}
		    	<!-- <img src = '{{ obj.media_upload.url }}' alt="..." class="img-rounded" width = "260" height = "200"/> -->
				    <video id="my-video" class="video-js vjs-big-play-centered" controls preload="auto" width="260" height="200"
				  		poster="MY_VIDEO_POSTER.jpg" data-setup="{}">
					    <source src='{{ obj.media_upload.url }}' type='video/mp4'>
					    <source src="" type='video/webm'>
					    <p class="vjs-no-js">
					      To view this video please enable JavaScript, and consider upgrading to a web browser that
					      <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
					    </p>
				  	</video>  
		    	{% endif %}
		      	<!-- <img src="..." alt="..."> -->
		      	<h4 class = "content-info"> <a href = "{{ obj.get_absolute_url }}" class = "content-info">{{obj.title}} </a></h4>

		      	<div class="caption">			   
		      		{% if obj.draft %}
		      			<h3>Draft</h3>
		      			{% if obj.publish > today %}
		      				<h3>Future Post<h3/>
		      			{% endif %}
		      		{% endif %} 

	      			<span class="text-muted content-info">{{obj.publish}} <span class = "views-info">Просм: {{obj.views}}</span></span>			        
		        
			        {% if obj.user.get_full_name %}
			        <p> Author: {{ obj.user.get_full_name }} </p>
			        {% endif %}

			        <!-- <p>{{obj.content|linebreaks|truncatechars:20}}</p>
			        <p><a href = '{{ obj.get_absolute_url }}' class="btn btn-primary" role="button">View</a> </p> -->
		      	</div>
			</div>
		  <!-- {%cycle "" "<div class = 'col-sm-12'><hr/> </div><div class = 'row'>" %} -->
		{% endfor %}
</div>


			<div class="pagination">
			    <span class="step-links">
			        {% if object_list.has_previous %}
			            <a href="?{{page_request_var}}={{ object_list.previous_page_number }}
				            {% if request.GET.q %}
					            & q= {{ request.GET.q }}
					        {% endif %}"
					    >previous</a>
			        {% endif %}

			        <span class="current">
			            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
			        </span>

			        {% if object_list.has_next %}
			            <a href="?{{page_request_var}}={{ object_list.next_page_number }}
				            {% if request.GET.q %}
						            & q= {{ request.GET.q }}
						    {% endif %}"
					    >next</a>
			        {% endif %}
			    </span>
			</div>

			</div>
			
{% endblock %}
